.BotonCalculadora {
    appearance: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.BotonCalculadora:hover {
    opacity: 0.9;
}