:root {
  --primary: rgb(226, 4, 13);
  --secundary: rgb(123, 123, 123);
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--light)
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculadora {
  width: 100%;
  max-width: 80vw;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 10px rgba(0, 0, 0, 0.2);
}